<div class="main-login">
  <div class="container">
    <h1 class="title-login">Hệ thống quản lý Giò Chả</h1>
    <section class="main">
      <form class="form-2" ng-submit="vm.login(user)">
        <h1><span class="log-in">Đăng nhập</span> or <span class="sign-up">Đăng ký</span></h1>
        <p class="float">
          <label for="login"><i class="icon-user"></i>Tên đăng nhập</label>
          <input ng-model="user.username" type="text" name="login" placeholder="Tên đăng nhập hoặc email">
        </p>
        <p class="float">
          <label for="password"><i class="icon-lock"></i>Mật khẩu</label>
          <input ng-model="user.password"  type="password" name="password" placeholder="Mật khẩu" class="showpassword">
        </p>
        <p class="clearfix">
          <a ng-click="vm.twitter()" class="log-twitter">Đăng nhập với Twitter</a>
          <input type="submit" name="submit" value="Đăng nhập">
        </p>
      </form>​​
    </section>

  </div>
</div>
<script type="text/javascript">
  $(function(){
    $(".showpassword").each(function(index,input) {
      var $input = $(input);
      $("<p class='opt'/>").append(
        $("<input type='checkbox' class='showpasswordcheckbox' id='showPassword' />").click(function() {
          var change = $(this).is(":checked") ? "text" : "password";
          var rep = $("<input placeholder='Password' type='" + change + "' />")
            .attr("id", $input.attr("id"))
            .attr("name", $input.attr("name"))
            .attr('class', $input.attr('class'))
            .val($input.val())
            .insertBefore($input);
          $input.remove();
          $input = rep;
        })
      ).append($("<label for='showPassword'/>").text("Hiển thị mật khẩu")).insertAfter($input.parent());
    });

    $('#showPassword').click(function(){
      if($("#showPassword").is(":checked")) {
        $('.icon-lock').addClass('icon-unlock');
        $('.icon-unlock').removeClass('icon-lock');
      } else {
        $('.icon-unlock').addClass('icon-lock');
        $('.icon-lock').removeClass('icon-unlock');
      }
    });
  });
</script>
