<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <a href="index.html">Trang chủ</a>
            <i class="fa fa-circle"></i>
        </li>
        <li>
            <span>Sản phẩm</span>
        </li>
    </ul>
</div>
<h1 class="page-title"> Danh sách sản phẩm
    <small>Giò Chả và ...</small>
</h1>
<div class="row">
    <div class="col-md-12">
        <!-- BEGIN SAMPLE TABLE PORTLET-->
        <div class="portlet box green">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-map-pin"></i>Danh sách sản phẩm</div>
            </div>
            <div class="portlet-body">
                <div class="table-responsive">
                    <table ng-if='vm.productList.length > 0' class="table">
                        <thead>
                        <tr>
                            <th> STT </th>
                            <th> Tên sản phẩm</th>
                            <th> Giá </th>
                            <th> Mô tả </th>
                            <th width="2%">  </th>
                            <th width="2%">  </th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="product in vm.productList">
                            <td ng-bind="product.id"></td>
                            <td ng-bind="product.name"></td>
                            <td ng-bind="product.price"></td>
                            <td ng-bind="product.description"></td>
                            <td>
                                <a ui-sref="main.editProduct({id: product.id})" class="btn btn-primary btn-sm">
                                    <span class="glyphicon glyphicon-pencil"></span>
                                </a>
                            </td>
                            <td>
                                <button ng-click="vm.deleteProduct(product)" class="btn btn-primary btn-sm red">
                                    <span class="glyphicon glyphicon-trash"></span></button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <div class="text-center" ng-if='vm.productList.length <= 0'> No Order Found</div>
                </div>
            </div>
        </div>
        <!-- END SAMPLE TABLE PORTLET-->
    </div>
</div>