<div class="portlet light bordered">
    <div class="portlet-title">
        <div class="caption font-green-haze">
            <i class="icon-settings font-green-haze"></i>
            <span class="caption-subject bold uppercase">Tạo Sản Phẩm Mới</span>
        </div>
        <div class="actions">
            <a class="btn btn-circle btn-icon-only blue" href="javascript:;">
                <i class="icon-cloud-upload"></i>
            </a>
            <a class="btn btn-circle btn-icon-only green" href="javascript:;">
                <i class="icon-wrench"></i>
            </a>
            <a class="btn btn-circle btn-icon-only red" href="javascript:;">
                <i class="icon-trash"></i>
            </a>
            <a class="btn btn-circle btn-icon-only btn-default fullscreen" href="javascript:;" data-original-title=""
               title=""> </a>
        </div>
    </div>
    <div class="portlet-body form">
        <form ng-submit="vm.createProduct(product)" name="productCreate" role="form" class="form-horizontal">
            <div class="form-body">
                <div ng-class="{'has-error': productCreate.productName.$invalid && productCreate.productName.$dirty}" class="form-group form-md-line-input">
                    <label class="col-md-2 control-label" for="product-name">Tên sản phẩm</label>
                    <div class="col-md-10">
                        <input type="text" class="form-control" name="productName" id="product-name" placeholder=""
                               ng-model="product.name"
                               required>
                        <div class="form-control-focus"></div>
                        <span ng-if="productCreate.productName.$invalid && productCreate.productName.$dirty" class="help-block">Tên sản phẩm là bắt buộc.</span>
                    </div>
                </div>
                <div ng-class="{'has-error': productCreate.productPrice.$invalid && productCreate.productPrice.$dirty}" class="form-group form-md-line-input">
                    <label class="col-md-2 control-label" for="product-price">Giá sản phẩm</label>
                    <div class="col-md-10">
                        <input type="text" class="form-control" name="productPrice" id="product-price" placeholder=""
                               ng-model="product.price"
                               required>
                        <div class="form-control-focus"></div>
                        <span ng-if="productCreate.productPrice.$invalid && productCreate.productPrice.$dirty" class="help-block">Giá sản phẩm là bắt buộc.</span>
                    </div>
                </div>
                <div class="form-group form-md-line-input">
                    <label class="col-md-2 control-label" for="product-des">Mô tả sản phẩm</label>
                    <div class="col-md-10">
                        <input type="text" class="form-control" id="product-des" placeholder="" ng-model="product.description">
                        <div class="form-control-focus"></div>
                    </div>
                </div>
            </div>
            <div class="form-actions">
                <div class="row">
                    <div class="col-md-offset-2 col-md-10">
                        <button type="button" class="btn default">Cancel</button>
                        <button type="submit" ng-disabled="productCreate.$pristine || productCreate.$invalid"
                                class="btn blue">Submit
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>